.firstsquare{
    background-image: url(/images/work.png);
    background-size: cover;
    height: 450px;
    text-align: center;
}

.firstsquare h1{
    padding: 20px;
    font-size: 50px;
    color: black;
}

.firstsquare button{
    background-color: transparent;
    border-radius: 5px;
    margin: 30px;
    height: 35px;
    color: gray;
    box-shadow: ;
}

.fa-chevron-down{
    color: white;
}

.flexdiv{
    display: flex;
    justify-content: space-evenly;
}

.pink{
    background-image: url(/images/pink.jpg);
    background-size: cover;
    height: 150px;
    width: 100%;
    text-align: center;
}

.blue{
    background-image: url(/images/blue.jpg);
    background-size: cover;
    height: 150px;
    width: 100%;
    text-align: center;
}

.yellow{
    background-image: url(/images/yellow.jpg);
    background-size: cover;
    height: 150px;
    width: 100%;
    text-align: center;
}

.header {
    height: 50px;
}

.imgheader {
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

ul {
    display: flex;
    justify-content: space-between;
}